<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.semisama.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logos"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logos_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SemiSamaGreen">
        <activity
            android:name=".ui.product.detail.ActivityDetail"
            android:exported="false" />
        <activity
            android:name=".ui.product.search.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".ui.person.edit.ActivityEdit"
            android:exported="false" />
        <activity
            android:name=".ui.person.password.ActivityPassword"
            android:exported="false" />
        <activity
            android:name=".ui.auth.verification.ActivityVerification"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ui.navigation.ActivityNavigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/base_url_deeplink_forgot_password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityBoarding"
            android:exported="false" />
        <activity
            android:name=".ActivitySplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_authority_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".api.manager.ManagerFirebase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_screen" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>